<!DOCTYPE html>
<html>
<head>
  <title>プロフィール編集</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="form-container">
    <h1>プロフィール<br>編集</h1>

    <%= form_for @user, url: user_path(@user), html: { method: :patch, multipart: true } do |f| %>
      <div>
        <%= f.label :username, 'ユーザー名' %>
        <%= f.text_field :username %>
      </div>

      <div>
        <%= f.file_field :profile_image, accept: 'image/jpeg,image/png' %>
        <%= f.label :profile_image, 'プロフィール画像 (JPEGまたはPNG形式)' %>
      </div>

      <div>
        <%= f.submit '更新', class: 'btn-submit' %>
      </div>
    <% end %>
  </div>
</body>
</html>
